@{
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
@section scripts
{
    <script src="/Content/js/base.js"></script>
    <script>
        $(function() {
            $("#btnSubscribe").click(function () {
                parent.layer.prompt({ title: '请输入邮箱地址'},
                    function(text, index) {
                        var loading = parent.layer.load(2);
                        XPage.DoPost(this,
                            "@Url.Action("Subscribe")",
                            { email: text },
                            function(res) {
                                parent.layer.closeAll();
                                parent.layer.msg("订阅成功");
                            },
                            function (res) {
                                parent.layer.close(loading);
                                parent.layer.msg(res.msg);
                            });
                    });
            });
            $("#btnUnSubscribe").click(function () {
                parent.layer.prompt({ title: '请输入邮箱地址' },
                    function(text, index) {
                        var loading = parent.layer.load(2);
                        XPage.DoPost(this,
                            "@Url.Action("UnSubscribe")",
                            { email: text },
                            function(res) {
                                parent.layer.closeAll();
                                parent.layer.msg("取消成功");
                            },
                            function (res) {
                                parent.layer.close(loading);
                                parent.layer.msg(res.msg);
                            });
                    });
            });
        });
    </script>
}
<div class="contentpanel" style="padding: 20px 0px 0px 35px;">
 <div class="row" style="padding-bottom:15px;padding-left: 14px;">
     <h3>平台数据</h3>
  </div>
   <div class="row">
       <div class="col-xs-2">
           <small class="stat-label">展服</small>
           <h4>500</h4>
        </div>
       <div class="col-xs-2">
           <small class="stat-label">店铺</small>
           <h4>8000</h4>
       </div>
       <div class="col-xs-2">
           <small class="stat-label">用户</small>
           <h4>10000</h4>
       </div>
   </div>
    <div style="margin-top: 20px; border-bottom: solid 1px #dddddd;">
        <div style="border-bottom: solid 1px #dddddd;padding-bottom:3px;">
            <h5>
                实时总览
            </h5>
            <div class="form-horizontal">
                <div class="form-group">
                    <table class="table table-striped table-bordered" style="border-left-color:white;border-right-color:white" frame=void>
                        <tbody>
                            <tr>
                                <td style="text-align: center">访客数</td>
                                <td style="text-align: center;">
                                   浏览量
                                </td>
                                <td style="text-align: center;">
                                    支付金额
                                </td>
                                <td style="text-align: center;">
                                   支付子订单数
                                </td>
                                <td style="text-align: center;">
                                    支付买家数
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                    2
                                </td>
                                <td style="text-align: center;">
                                    2
                                </td>
                                <td style="text-align: center;">
                                  2
                                </td>
                                <td style="text-align: center;">
                                    2
                                </td>
                                <td style="text-align: center;">
                                    2
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                昨天：2000
                                </td>
                                <td style="text-align: center;">
                                昨天：2000
                                </td>
                                <td style="text-align: center;">
                                昨天：2000
                                </td>
                                <td style="text-align: center;">
                                昨天：2000
                                </td>
                                <td style="text-align: center;">
                                 昨天：2000
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: center">
                                本月：26800
                                </td>
                                <td style="text-align: center;">
                                本月：26800
                                </td>
                                <td style="text-align: center;">
                                本月：26800
                                </td>
                                <td style="text-align: center;">
                                本月：26800
                                </td>
                                <td style="text-align: center;">
                                本月：26800
                                </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
              
            </div>
        </div>
    </div>
 </div>
